
th{
  padding-top: 2rem;
  border-bottom: 1.9px solid black;
}
td {
  padding: 1rem;
  text-align: center;

  /* background-color: aqua; */
  border-bottom: 1px solid black;
margin: 0;
}
 td button{
border: none;
  background-color: rgb(255, 255, 255);
}
.delete_selected{
  margin-top: 2%;
  padding: 1.5%;
  background-color: rgb(255, 41, 41);
color: aliceblue;
border-radius: 4rem;
border: none;
}

.delete_selected:hover{
background-color: rgb(196, 196, 195);
color: rgb(19, 18, 18);
}
input{
  border:none;
  border-bottom: 1px solid black;
}