.table {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: max-content;

}
th{
  padding-top: 2rem;
  border-bottom: 1.9px solid black;
}
td {
  padding: 1rem;
  text-align: center;
  /* background-color: aqua; */
  border-bottom: 1px solid black;
margin: 0;
}
